@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 375px;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

img {
  width: 60px;
  height: 35px;
}

/* Color Palette */
:root {
  --color-primary: hsl(10, 79%, 65%);
  --color-secondary: hsl(186, 34%, 60%);

  --color-primary-text: hsl(25, 47%, 15%);
  --color-secondary-text: hsl(28, 10%, 53%);

  --color-body-bg: hsl(27, 66%, 92%);
  --color-card-bg: hsl(33, 100%, 98%);
}

/* Typography */
body {
  font-size: 1.4rem;
  font-family: "DM Sans", sans-serif;
  color: rgba(255, 255, 255, 0.758);
  background-color: var(--color-body-bg);
}

h1 {
  font-size: 2.3rem;
  margin: 0;
  color: var(--color-primary-text);
}

b.one {
  font-size: 2.7rem;
  color: var(--color-primary-text);
}

b.two {
  font-size: 2.3rem;
  color: whitesmoke;
}

b.three {
  color: var(--color-primary-text);
}

/* Chart block */
.chart {
  display: grid;
  gap: 2rem;
}

/* blance block */
.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1.5rem 2rem;
  border-radius: 15px;
  line-height: 2.8ch;
}

/* Spending block */
.spending {
  display: grid;
  color: var(--color-secondary-text);
  background-color: whitesmoke;
  padding: 2.5rem 2rem;
  border-radius: 15px;
}

.graph {
  width: 100%;
  min-width: 300px;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0.5rem;
}

.weekday {
  display: grid;
  gap: 1rem;
}

.expenses-bar {
  position: relative;
  width: 3rem;
  height: 13rem;
  border-radius: 4px;
  cursor: pointer;
}

.color-primary {
  background: var(--color-primary);
}

.color-primary:hover {
  background: rgba(236, 119, 95, 0.532);
}

.color-secondary {
  background: var(--color-secondary);
}

.color-secondary:hover {
  background: rgba(118, 181, 188, 0.727);
}

.expenses-bar:hover::before {
  background-color: var(--color-primary-text);
  border-radius: 5px;
  color: var(--color-card-bg);
  content: attr(data-amount);
  font-size: 1.1rem;
  left: -30%;
  padding: 0.5rem 0.7rem;
  position: absolute;
  top: -2.8rem;
}

.day {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.expenditure {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  border-top: 2px solid var(--color-body-bg);
  padding-top: 1.5rem;
}

.current-month {
  line-height: 3ch;
}

.previous-month {
  line-height: 1.9ch;
}
