@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 375px;
}

/* Color Palette */
:root {
  --color-primary: hsl(10, 79%, 65%);
  --color-secondary: hsl(186, 34%, 60%);

  --color-primary-text: hsl(25, 47%, 15%);
  --color-secondary-text: hsl(28, 10%, 53%);

  --color-body-bg: hsl(27, 66%, 92%);
  --color-card-bg: hsl(33, 100%, 98%);
}

/* Typography */
body {
  font-size: 1.8rem;
  font-family: "DM Sans", sans-serif;
}
